#grid {
    width: 100%;
}

.grid-item {
  float: left;
  cursor: pointer;
  width: 196px;
  height: 110px;
  border: 2px solid hsla(300, 100%, 25%, 0.5);
  margin: 8px;
}

.grid-item.yt {
    background-size: cover;
}

.grid-item.yp {
    background-size: cover;
}
